 :root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --hero-title-color: #ffffff;
    --hero-background-color: #2f303a;
    --hero-background-hover-color: #188CE8;
    --team-background-color: #f5f4fa;
    --logo-black-color: #000000;
    --logo-light-color: #ffffff;
    --footer-background-color: #2f303a;
    --footer-email-tel: rbg(255, 255, 255, 0.6);
 }
 
html {
   box-sizing: border-box;
}

 body {
   font-family: Roboto, sana-serif;
   font-size: 14px;
   line-height: 1.2;

   background-color: var(--hero-title-color);
   color: var(--text-color)
 }

.list {
   display: flex;
   list-style: none;
}

.list-footer{
list-style: none;
}

.link {
   text-decoration: none;
}

a,
button {
cursor: pointer;
}

.client-list li {
   margin: 15px 15px;
   align-items: center;
   flex-wrap: wrap;
}

.client-list {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
 }

.section-buttons {
   justify-content: center;
}

/* site navigation */

.logo {
   font-family: Raleway, sana-serif;;
   font-weight: 700;
   font-size: 26px;
   color: var(--accent-color);
}

.logo-dark {
   color: var(--logo-black-color);
}

.nav-link,
.contacts {
   letter-spacing: 0.02em;
   
}

.contacts {
   display: flex;
   margin-left: auto;
}

.nav-link {
   display: block;
   margin-right: 50px;

   font-weight: 500;
   font-size: 14px; 
   line-height: 1.14;
   color: var(--title-color) ;
   text-decoration: none;
   
}

.main-nav {
   display: flex;
   align-items: center;
}

 .item: last-child {
   margin-right: 0;
}

.header-nav {
   margin-left: 93px;
}

.list-item:not(:last child) {
   margin-right: 30px;
}

.current,
.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
   color: var(--accent-color);
}

.features-title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.17;
   color: var(--title-color);
   text-transform: uppercase;
}

.portfolio-title {
   font-weight: 700;
   font-size: 18px; 
   line-height: 2;
   color: var(--logo-black-color);
}

.features-text { 
   font-size: 14px;
   line-height: 1.71;
}

.portfolio-text {
   color: var(--text-color);
   font-size: 16px 
   line-height: 1.88;
   
}

.team-text {
   text-align: center;

   font-size: 16px;
   line-height: 1.9;
}

.section-title {
   text-align: center;

   font-size: 36px;
   line-height: 1.17;
   font-weight: 700;
   color: var(--title-color);
   letter-spacing: 0.03em;
  
}

.team-title {
text-align: center;

font-style: medium;
font-size: 16px;
line-height: 1.9;
color: var(--logo-black-color);
}

.section-table {
   background-color: var(--hero-title-color)
}

.contacts {
   display:flex;
   margin-right: 50px;
   font-weight: 500;

   color: inherit;
}

.button-filter:focus,
.button-filter:hover {
   color: var(--hero-title-color);
   background-color: var(--accent-color);
}

.button-filter {
   display: flex;
   margin-left: 8px;
   x

   font-family: inherit;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   
   color: var(--title-color);
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 15px 94px;
}


/* Hero */

.hero {
   background-color: var(--hero-background-color);
}

.container-hero {
   max-width: 1600px;
   height: 600px;

}

.hero-title {
   margin-left: 452px;
   margin-right: 452px;
   text-align: center;
   padding-top: 200px;
   margin-bottom: 30px;


   font-weight: 900;
   font-size: 44px;
   line-height: 1.4;
   text-transform: uppercase;
   color: var(--hero-title-color);
}

.hero-button {
   border-radius: 4px;
   margin-left: 692px;
   margin-right: 692px;
   margin-bottom: 200px;
   height: 50px;
   width: 216px;

   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   color: var(--hero-title-color);

   background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
   color: var(--hero-title-color);
   background-color:var(--hero-background-hover-color) ;
}

.section-backgroung {
   background-color: var(--team-background-color)
}

/* footer */

.footer {
   background-color: var(--hero-background-color);
}

.footer-adress {button-filter
   color: var(--hero-title-color);
}

.footer-contacts {
   color: rgba(255, 255, 255, 0.6);
}

.down-adress {
   font-style: normal;
}

.logo-light {
   color: var(--logo-light-color);
}

