 :root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --hero-title-color: #ffffff;
    --hero-background-color: #2f303a;
    --team-background-color: #f5f4fa;
    --logo-black-color: #000000;
    --logo-light-color: #ffffff;
    /*--footer-background-color: #2f303a; */
    --footer-email-tel: rbg(255, 255, 255, 0.6);
 }
 
 body {
   font-family: Roboto, sana-serif;
   font-size: 14px;
   line-height: 1.2;

   background-color: var(--hero-title-color);
   color: var(--text-color)
 }

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

a,
button {
cursor: pointer;
}

/* site navigation */

.nav {
   font-weight: 500;
}

.logo {
   font-family: Raleway;
   font-weight: 700;
   font-size: 26px;
   color: var(--accent-color);
}

.logo-dark {
   color: var(--logo-black-color);
}



.nav-link,
.contacts {
   letter-spacing: 0.02em;
}

.nav-link {
   font-family: Roboto;
   font-style: Medium;
   font-size: 14px; 
   line-height: 1.14;
   color: var(--title-color) ;
   text-decoration: none;
}

.current,
.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
   color: var(--accent-color);
}

.features-title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.17;
   color: var(--title-color);
}

.portfolio-title {
   font-family: Roboto; 
   font-style: Bold; 
   font-size: 18px; 
   line-height: 2;
   color: var(--logo-black-color);
}

.features-text { 
   font-family: Roboto; 
   font-style: Regular;
   font-size: 14px;
   line-height: 1.71;
}

.portfolio-text {
   color: var(--text-color);
   font-family: Roboto ;
   font-weight: 400;
   font-size: 16px 
   line-height: 1.88;
   
}

.team-text {
   font-family: Roboto;
   font-style: Regular;
   font-size: 16px;
   line-height: 1.9;
}

.section-title {
   font-family: Roboto; 
   font-size: 36px;
   font-style: bold;
   line-height: 1.17;
   font-weight: 700;
   color: var(--title-color);
   letter-spacing: 0.03em;
}

.team-title {
font-family: Roboto;
font-style: medium;
font-size: 16px;
line-height: 1.9;
color: var(--logo-black-color);
}

.section-table {
   background-color: var(--hero-title-color)
}

.contacts {
   font-weight: 500;

   color: inherit;
}

.button-filter:hover,
.button-filter:focus {
   color: var(--hero-title-color);
   background-color: var(--accent-color);
}

.button-filter {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1,14;
   letter-spacing: 0.02em;
   
   color: var(--title-color);

}

/* Hero */

.hero {
   background-color: var(--hero-background-color);
}

.hero-title {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.4;
   text-transform: uppercase;
   color: var(--hero-title-color);
}

.hero-button {
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   color: var(--hero-title-color);

   background-color: var(--accent-color);
}

.section-backgroung {
   background-color: var(--team-background-color)
}

/* footer */

.footer {
   background-color: var(--hero-background-color);
}

.footer-adress {
   color: var(--hero-title-color);
}

.footer-contacts {
   color: rgba(255, 255, 255, 0.6);
}

.down-adress {
   font-style: normal;
}

.logo-light {
   color: var(--logo-light-color);
}